#browse-card-container {
    /* margin-top: 10em; */
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    flex-grow: 0;
    justify-content: center;
    position: relative;
    top: 10em;
}

.browse-card {
    max-width: 20%;
    margin: 1em;
    border-radius: 20px;
}

.browse-card-img:hover {
    box-shadow: 0 5px 15px #8DCAFF;
}


.browse-card-img {
    width: 100%;
    height: 250px;
    border-radius: 20px;
}

.card-title {
    /* text-align: center; */
    margin: 5px;
    font-size: larger;
    font-weight: bolder;
}

.card-price {
}

.title-and-price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1em;
    padding-right: 1.5em;
}

.city-and-state {
    padding-left: 1em;
    margin-left: 5px;
    font-weight: lighter;
}

