.form-input {
    width: 100%;
    height: 30px;
    border: .5px solid #8DCAFF;
    padding: 5px;
    text-align: center;
}


.form-btn {
    width: 100%;
    height: 30px;
    background-color: #8DCAFF;
    border: .5px solid #8DCAFF;
    padding: 5px;
}

.new-comment-form {
    width: 90%;
    height: 4em;
}

.comments-card {
    width: 80%;
    margin: 1em;
    margin-left: 0;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.icon-and-name {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin: 5px;
    font-weight: 700;
}

.icon {
    margin-right: 8px;
}

.edit-and-delete {
    display: flex;
    align-items: flex-end;
}

.review-body {
    margin-top: 5px;
    margin-bottom: 5px;
    
}

#review-input {
    height: 50px;
}

#add-review-submit-btn {
    margin-bottom: 3em;
}

.edit-comment-input {
    width: 400%;
    padding: 10px;
    overflow: visible;
}

.edit-comment-submit-btn {
    background-color: #8DCAFF;
    padding: 5px;
    border: .5px solid #8DCAFF;
}

.demo-btn {
    padding: 5px;
}

/* .reviews-canvas {
    margin-bottom: 100px;
} */