.form-input {
    width: 80%;
    height: 30px;
    border: .5px solid #8DCAFF;
    padding: 5px;
    text-align: center;
}


.form-btn {
    width: 90px;
    height: 30px;
    background-color: #8DCAFF;
    border: .5px solid #8DCAFF;
}

.new-comment-form {
    width: 90%;
    height: 4em;
}

.comments-card {
    width: 80%;
    margin: 1em;
    margin-left: 0;
    border: .5px solid #8DCAFF;
    padding: 5px;
}