* {
    box-sizing: border-box;
}

.login-form-container {
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center; 
    margin-top: 400px;
}

#login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%
}

.login-field {
    width: 100%;
}

.form-input {
    width: 100%;
    height: 30px;
    border: .5px solid #8DCAFF;
    border-bottom: 0;
    padding: 5px;
    text-align: center;
}


.form-btn {
    width: 100%;
    height: 30px;
    background-color: #8DCAFF;
    border: .5px solid #8DCAFF;
}

.demo-btn {
    width: 100%;
    height: 30px;
    background-color: #FFEDB2;
    border: .5px solid #FFEDB2;
}

.login-demo-form {
    width: 40%;
}