.navbar-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    border-bottom: .000005px solid #8DCAFF;
    margin-bottom: 12em;
    overflow: hidden;
    position: fixed;
    top: 0;
    background-color: white;
    z-index: 1;
}

.logo-img {
    max-width: 100px;
    border: none;
    margin-left: 20px;
}

.logo-img:hover {
    box-shadow: 0 5px 15px #8DCAFF;
}

.login-and-signup-btns {
    margin: 1em;
    display: flex;
    flex-flow: nowrap;
    justify-content: space-between;
    align-items: center;
}

#search-bar {
    width: 50rem;
    color: #8DCAFF;
    padding: 0.5rem;
    font-size: 30px;
    color: black;
    font-weight: bold;
    border: none;
}

#search-bar:hover {
    border: 3px solid #8DCAFF;
}

.login-btn {
    margin-right: 20px;
    text-align: center;
    border: none;
    color: #113744;
    padding: 3px;
}

.login-btn:hover {
    border: 3px solid #8DCAFF;
}

.profile-btn {
    border: none;
    background-color: white;
}

.profile-dropdown {
    position: relative;
    /* display: flex; */
    flex-direction: column;
    flex-wrap: wrap;
    z-index: 1;
}

.profile-dropdown-content {
    display: block;
    position: absolute;
    background-color: #8DCAFF;
    z-index: 2;
    border: 2px solid black;
    height: 60px;
}

.profile-dropdown-container {
    min-width: 40px;
    min-height: 50px;
    display: flex;
    flex-wrap: wrap;
}

